.Banner {
  margin-bottom: 50px;
  background: #6c757d no-repeat scroll center center;
  position: relative;
  background-size: cover;
}

.BannerImage {
  background: url("../assets/common_banner.jpeg") no-repeat center center;
}

.SiteHeading {
  text-align: center;
  padding: 200px 0;
}

.H1 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--bs-white);
}

.H2 {
  font-weight: 600;
  margin: 10px 0 30px;
  color: var(--bs-white);
}

.OverLay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.2;
}
