.NavBar {
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.NavTitle {
  font-size: 16px;
}

.NavLink {
  font-size: 14px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.P0 {
  padding: 0;
}
