.LikeCommon {
    cursor: pointer;
    font-size: 2rem;
}

.LikeCount {
    font-size: 1rem;
    color: grey;
}

.Like {
    color: dimgrey;
}

.Like:hover {
    color: black;
}

.LikeOutline:hover {
    color: black;
}