.App {
  font-family: "Open Sans", sans-serif;
}

.CommonButton {
  font-weight: 800;
  /* font-size: 14px; */
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
}

.ContentContainer {
  margin: 100px 50px;
}
